{% extends 'base.html' %}

{% block title%}Events |
{% endblock title%}

{% block content %}

<h1 class="hidden">Events</h1>

<div class="paper">
  <div class="container padded sidebar-container">

    {% include 'core/author_sidebar.html' with type='event' %}

    {% if appearances %}
    <div>
      {% for appearance in appearances %}
      {% with type=appearance.appearance_type.appearance_type %}

      {% if type == 'Book signing' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p class="date">
          <time datetime="{{appearance.date}}">
            {{appearance.date|date:"l, F j, Y"}}
        </p>
        <p class="time">
          <time datetime="{{appearance.time}}">
            {{appearance.time}}
        </p>
        <p class="venue">
          <a href="{{appearance.venue_link}}">
            {{appearance.venue_name}}
          </a>
        </p>
        <p>{{appearance.venue_address}}</p>

      </section>

      {% elif type == 'Facebook live' or type == 'Instagram live' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p class="date">
          <time datetime="{{appearance.date}}">
            {{appearance.date|date:"l, F j, Y"}}
        </p>
        <p class="time">
          <time datetime="{{appearance.time}}">
            {{appearance.time}}
        </p>
        <p>Live with
          <a class="host" href="{{appearance.host_link}}">{{appearance.host_name}}
          </a>
        </p>

      </section>

      {% elif type == 'In conversation with' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p class="date">
          <time datetime="{{appearance.date}}">
            {{appearance.date|date:"l, F j, Y"}}
        </p>
        <p class="time">
          <time datetime="{{appearance.time}}">
            {{appearance.time}}
        </p>
        <p>In conversation with
          <a class="host" href="{{appearance.host_link}}">{{appearance.host_name}}

          </a>
        </p>
        <p class="venue">
          <a href="{{appearance.venue_link}}">
            {{appearance.venue_name}}
          </a>
        </p>
        <p>{{appearance.venue_address}}</p>
      </section>

      {% elif type == 'Conference' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p class="date">
          <time datetime="{{appearance.date}}">
            {{appearance.date|date:"l, F j, Y"}}
        </p>
        <p class="time">
          <time datetime="{{appearance.time}}">
            {{appearance.time}}
        </p>
        <h3 class="conference">
          <a href="{{appearance.conference_link}}">
            {{appearance.conference_name}}
          </a>
        </h3>
        <p>{{appearance.appearence_details}}</p>
        <p class="venue">
          <a href="{{appearance.venue_link}}">
            {{appearance.venue_name}}
          </a>
        </p>
        <p>{{appearance.venue_address}}</p>
      </section>

      {% endif %}

      {% endwith %}
      {% endfor %}
    </div>

    {% else %}

    <p class="padded">There are no events scheduled, check back soon for upcoming events.</p>

    {% endif %}
  </div>
</div>
{% endblock content %}