{% extends 'base.html' %}

{% block content %}

<h1>Appearances</h1>

<section class="appearance" book signing>
  <p><time datetime="">April 28th</p>
  <!-- set time -->
  <p><time datetime="">8:00 pm</p>
  <a href="">Tattered Cover Bookstore</a>
  <p>17 Colfax Avenue, Denver, CO 80210</p>
</section>

<section class="appearance" facebook instagram>
  <p><time datetime="">April 28th</p>
  <!-- local time -->
  <p><time datetime="">8:00 pm</p>
  <p>Live with Somebody</p>

  <a href="https://www.facebook.com">Facebook</a>
</section>

<section class="appearance" IN CONVERSATION WITH>
  <p>In Conversation with Laird Hunt</p>
  <p><time datetime="">April 28th</p>
  <!-- set time -->
  <p><time datetime="">8:00 pm</p>
  <a href="">Tattered Cover Bookstore</a>
  <p>17 Colfax Avenue, Denver, CO 80210</p>
</section>

<section class="appearance" CONFERENCE>
  <h2>THRILLERFEST</h2>
  <p>Echoing Current Events, with panelists First Last, First Last, and First Last
  </p>
  <!-- set time -->
  <p><time datetime="">Sunday July 3, 3:00 pm</p>
  <p>Sheraton Hotel, Times Square</p>
  <a href="">Thrillerfest.com</a>
</section>

{% endblock content %}