{% extends 'base.html' %}

{% block title%}News |
{% endblock title%}

{% block content %}

<h1 class="hidden">News</h1>

<div class="paper">
  <div class="container padded sidebar-container">

    {% include 'core/author_sidebar.html' with type='news' %}

    {% if news %}
    <div>
      {% for newsitem in news %}
      {% with type=newsitem.item_type.item_type %}

      {% if type == 'Print article' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p class="article">
          <a class="article-link" href="{{newsitem.article_link}}">
            {{newsitem.article}}
          </a>,
          <a class="publisher-link" href="{{newsitem.publisher_link}}">
            {{newsitem.publisher}}
          </a>
        </p>
      </section>

      {% elif type == 'Blog' or type == 'Youtube' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p>{{newsitem.description}}
          <a class="host" href="{{newsitem.host_link}}">
            {{newsitem.host_name}}
          </a>
        </p>
      </section>

      {% elif type == 'Podcast' %}
      <section class="info-item text-tight-spacing">

        <h2 class="type-heading">{{type}}</h2>
        <p>{{newsitem.description}}
          <a class="host" href="{{newsitem.podcast_link}}">{{newsitem.podcast}}
          </a>
        </p>
      </section>

      {% endif %}

      {% endwith %}
      {% endfor %}
    </div>

    {% else %}

    <p class="padded">There are no news items, check back soon for the latest news.</p>

    {% endif %}
  </div>
</div>
{% endblock content %}