{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>News</h1>

<p class="news" PRINT ARTICLE><span>Ten Must-read Thrillers</span> Publisher’s Weekly <a href="">pw.com</a>
</p>

<p class="news" PODCAST>Hear me read a chapter from NOT BY BLOOD on <a href="">Poisoned Pen</a> podcast, hosted by John
  Charles</p>

<p class="news" BLOG>Guest appearance on <a>Gillian Flynn’s</a> blog <a href="">pw.com </a>
</p>

<p class="news" YOUTUBE>Booktuber <a>Emily Fox</a> reviews NOT BY BLOOD <a href="">pw.com </a>
</p>


{% endblock content %}