{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">
  <div class="hero-inner ">

    <section class="book-container">
      <div class="book">
        <picture>
          <source srcset="{% static 'images/not_by_blood-lg.jpg' %}" media="(min-width: 800px)">
          <img src="{% static 'images/not_by_blood-sm.jpg' %}" />
        </picture>
      </div>
    </section>

    <section class="cta-container">
      <h1 class="text-uppercase">Not By Blood</h1>
      <a class="btn text-uppercase" href="{% url 'catalog:catalog' %}">Order Now</a>
    </section>

  </div>
</section>


{% include 'core/newsletter-signup.html' %}


{% endblock content %}