{% load static %}

<footer class="site-footer">

  <section class="footer-credits">
    <p>
      &copy;<span id="copyright"></span>&nbsp;Chris Narozny
    </p>
    <p class="design-credit">
      Website by
      <a class="dev-link" href='https://elliotreed.net/developer' title="Elliot Reed website" target="_blank">
        Elliot Reed
      </a>
    </p>
  </section>

  <section class="social-links">
    <a class="social-link" href="https://www.facebook.com/Chris-Narozny-102930035831343" title="Facebook"
      target="_blank">
      <img src="{% static 'images/' %}facebook.svg" alt="Facebook" class="icon">
    </a>
    <a class="social-link" href="https://www.goodreads.com/author/show/22484825.Chris_Narozny" title="Goodreads"
      target="_blank">
      <img src="{% static 'images/' %}goodreads.svg" alt="Goodreads" class="icon">
    </a>
    <a class="social-link" href="https://twitter.com/cnarozny1" title="Twitter" target="_blank">
      <img src="{% static 'images/' %}twitter.svg" alt="Twitter" class="icon">
    </a>
  </section>

</footer>