<footer class="page-footer">

  <p>&copy; <span id="copyright"></span>&nbsp;Christopher Narozny</p>
  <p>site by <a href='elliotreed.net/developer'>Elliot Reed</a></p>

  <div class="social-links">
    <a href="https://github.com/ElliotReed" title="Github">
      <!-- <img src="assets/images/github-128.png" alt="Github" class="icon"> -->
    </a>
    <a href="https://www.linkedin.com/in/elliot-reed-a5255b153/" title="LinkedIn">
      <!-- <img src="assets/images/linkedin-128.png" alt="LinkedIn" class="icon"> -->
    </a>
  </div>

</footer>