<header class="page-header">

  <a class="logo text-uppercase" href="{% url 'core:home' %}">Christopher Narozny</a>

  <nav class="nav">
    <a class="link" href="{% url 'core:home' %}">Home</a>
    <a class="link" href="{% url 'catalog:catalog' %}">Books</a>
    <a class="link" href="{% url 'core:newsletter' %}">Newsletter</a>
    <a class="link" href="{% url 'appearances:appearances' %}">Appearances</a>
    <a class="link" href="{% url 'news:news' %}">News</a>
    <a class="link" href="{% url 'core:about' %}">About</a>
    <a class="link" href="{% url 'core:contact' %}">Contact</a>
  </nav>


</header>

<div js-header-spacer></div>

<div class="social-links">
  <a href="https://github.com/ElliotReed" title="Github">
    <!-- <img src="assets/images/github-128.png" alt="Github" class="icon"> -->
  </a>
  <a href="https://www.linkedin.com/in/elliot-reed-a5255b153/" title="LinkedIn">
    <!-- <img src="assets/images/linkedin-128.png" alt="LinkedIn" class="icon"> -->
  </a>
</div>