<header class="site-header">

  <a class="logo text-uppercase" href="{% url 'core:home' %}">Chris Narozny</a>

  <nav class="nav">
    {% with request.resolver_match.url_name as url_name %}
    <ul>

      <li class="{% if url_name == 'home' %}active{% endif %} hide-for-small">
        <a class="link" href="{% url 'core:home' %}">Home</a>
      </li>

      <li class="{% if url_name == 'catalog' %}active{% endif %}">
        <a class="link" href="{% url 'catalog:catalog' %}">Books</a>
      </li>

      <li class="{% if url_name == 'newsletter' %}active{% endif %}">
        <a class="link" href="{% url 'core:newsletter' %}">Newsletter</a>
      </li>

      <li class="{% if url_name == 'appearances' %}active{% endif %}">
        <a class="link" href="{% url 'appearances:appearances' %}">Events</a>
      </li>

      <li class="{% if url_name == 'news' %}active{% endif %}">
        <a class="link" href="{% url 'news:news' %}">News</a>
      </li>

      <li class="{% if url_name == 'about' %}active{% endif %}">
        <a class="link" href="{% url 'core:about' %}">About</a>
      </li>

      <li class="{% if url_name == 'contact' %}active{% endif %}">
        <a class="link" href="{% url 'core:contact' %}">Contact</a>
      </li>

    </ul>
    {% endwith %}
  </nav>

</header>

<div js-header-spacer></div>