{% extends 'base.html' %}

{% block title%}
  {{book.title}} |
{% endblock title%}

{% block content %}
  <div class="container padded">
    <div class="book-wrapper padded book paper">
      <div class="book-head">
        {% include 'catalog/book_image.html' %}

        <section class="book-info">
          <h1>{{book.title}}</h1>
          <p class="book-genre"><span>Genre: </span>{{book.genre}}</p>
          <p class="book-publishing-info"><span>Publisher: </span>{{book.publisher}} | {{book.published_date}}</p>
        </section>
      </div>

      <br>

      <div class="book-synopsis clearfix">
        <p class="text-tight-spacing">{{book.synopsis}}</p>
      </div>

      {% if book.excerpt %}
        <br>

        <div class="book-excerpt">
          <a href="{{book.excerpt.url}}" download>
            Click to download an excerpt of "{{book.title}}" (pdf)
          </a>

          <span>or</span>

          <a href="{{book.excerpt.url}}">
            Click to open an excerpt of "{{book.title}}" (pdf)
          </a>
        </div>
      {% endif %}

      {% include 'catalog/sale_link.html' %}

      {% if book.get_featured_blurb %}
        <br>

        {% for blurb in book.get_featured_blurb %}
          {% include 'catalog/blurb.html' %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock content %}