{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Catalog</h1>

<div class="catalog-item book-paper">

  <div class="book-container">
    <div class="book">
      <img src="{% static 'images/image1.jpg' %}" />
    </div>
  </div>
  <div class=" text-box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores illum dicta quam facilis perferendis
    magni consequuntur nobis veritatis ad, fuga at quis veniam quidem rerum minima voluptatum totam ex!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores illum dicta quam facilis perferendis
    magni consequuntur nobis veritatis ad, fuga at quis veniam quidem rerum minima voluptatum totam ex!
  </div>
</div>

<div class="catalog-item book-paper">

  <div class="book-container">
    <div class="book">
      <img src="{% static 'images/image1.jpg' %}" />
    </div>
  </div>
  <div class=" text-box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores illum dicta quam facilis perferendis
    magni consequuntur nobis veritatis ad, fuga at quis veniam quidem rerum minima voluptatum totam ex!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores illum dicta quam facilis perferendis
    magni consequuntur nobis veritatis ad, fuga at quis veniam quidem rerum minima voluptatum totam ex!
  </div>
</div>
<div class="catalog-item book-paper">

  <div class="book-container">
    <div class="book">
      <img src="{% static 'images/image1.jpg' %}" />
    </div>
  </div>
  <div class=" text-box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores illum dicta quam facilis perferendis
    magni consequuntur nobis veritatis ad, fuga at quis veniam quidem rerum minima voluptatum totam ex!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat asperiores illum dicta quam facilis perferendis
    magni consequuntur nobis veritatis ad, fuga at quis veniam quidem rerum minima voluptatum totam ex!
  </div>
</div>



{% endblock content %}